<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Display Time</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <h3 class="text-white bg-primary"><%= @date %></h3>
            <h3 class="text-white bg-danger"><%= @time %></h3>
        </div>
    </div>
</div>