// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media only screen and (max-width: 600px) {
    .firstbody {
        background: asset-url("mobile1");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:bottom;
        height:850px;
    }
    .thirdbody {
        background: asset-url("mobile2");
        background-repeat: no-repeat;
        background-size: cover;
        background-position:bottom;
        height:850px;
    }
    .fourthbody a img{
        margin-top:75px;
        width:200px;
        height:200px;
    }

    #carousel-1{
        margin-top:100px;
    }
    #carousel-1 .carousel-item img{
        height:350px;
        width:350px;
    }
    #carousel-1 .carousel-indicators li {
        background-color: #999;
        background-color: rgba(70,70,70,.25);
      }
    #carousel-1 .carousel-indicators .active {
    background-color: #444;
    }
    #carousel-2{
    }
    #carousel-2 .carousel-item img{
        height:500px;
        width:100%;
    }
}

@media only screen and (min-width: 601px){
    .firstbody{
        background: asset-url("background1");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        height:850px;
    }
    .secondbody{
        background: asset-url("background2");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        height:850px;
        z-index: 10;
        position: relative;
        opacity: 0.6;
    }
    .thirdbody{
        background: asset-url("background5");
        background-repeat: no-repeat;
        height:720px;
        z-index: 10;
        position: relative;
    }
    .fourthbody{
        background: asset-url("background7");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        height:850px;
    }
    .fourthbody a img{
        margin-top:340px;
        width:200px;
        height:200px;
    }

    #carousel-1{
        margin-top:100px;
    }
    #carousel-1 .carousel-item img{
        height:500px;
        width:500px;
    }
    #carousel-1 .carousel-indicators li {
        background-color: #999;
        background-color: rgba(70,70,70,.25);
      }
    #carousel-1 .carousel-indicators .active {
        background-color: #444;
    }
    #carousel-2 .carousel-item img{
        width: 100%;
        height:600px;
    }
    
    .one_a{
        font-family: 'Raleway', sans-serif;
        color:black;
        font-size:4rem;
        margin-top: -730px;
        position: relative;
        z-index: 20;
    }
    .one_a span{
        color:rgb(146, 23, 146);
        font-weight: bold;
    }
    .one_b{
        color:black;
        font-size:3rem;
        margin-top: -730px;
        position: relative;
        z-index: 20;
    }
    #python{
        color:rgb(18, 134, 128);
    }
    #mean{
        color:rgb(166, 126, 26);
    }
    #ruby{
        color:red
    }
    #dev{
        color:rgb(146, 23, 146);
    }
}


nav a img{
    height:100px;
}
nav a{
    color:rgba(255, 255, 255, .90);
    font-family: 'Montserrat', sans-serif;
}
